<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Libraries</title>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet"/>
<!--    <script th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>-->
<!--    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>-->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
<h1 class="text-center">Library Details</h1>
<div>
    <img th:src="${image}" alt="Picture of organisation" class="img-responsive img-rounded center-block" />
    <!--<img src="/images/orgs/wallst.jpg" alt="Puffins" class="img-responsive img-rounded center-block" />-->
</div>
    <article >
        <section>
            <h4><span th:text="'Name :  '+${name}" /> </h4>
           <h4><span th:text="'ISIL :  '+${isil}"/></h4>

        </section>
        <section>
            <h4 class="intro">Example - Post Object</h4>
            <pre>
        {
        "name": "National Library of Scotland",
        "code": "SCOT",
        "type": "Library",
        "addresses": [
                        {
                            "firstLine": "George IV Bridge",
                            "secondLine": null,
                            "town": "Edinburgh",
                            "state": "EH1 1EW",
                            "country": "UK",
                            "type": "postal"
                        },
                        {
                            "firstLine": "George IV Bridge",
                            "secondLine": null,
                            "town": "Edinburgh",
                            "state": "EH1 1EW",
                            "country": "UK",
                            "type": "physical"
                        },
                        {
                            "firstLine": "George IV Bridge",
                            "secondLine": null,
                            "town": "Edinburgh",
                            "state": "EH1 1EW",
                            "country": "UK",
                            "type": "billing"
                        }
                    ]
        }
                </pre>
        </section>
    </article>

</div>
</body>
</html>